---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.nowpayments.io/v1/invoice
    body:
      encoding: UTF-8
      string: '{"price_amount":50.0,"price_currency":"usd","order_id":"inv-1761964962"}'
    headers:
      X-Api-Key:
      - test_key
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"statusCode":403,"code":"INVALID_API_KEY","message":"Invalid
        api key"}'
  recorded_at: Sat, 01 Nov 2025 02:42:43 GMT
recorded_with: VCR 6.3.1
