---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.nowpayments.io/v1/estimate?amount=100&currency_from=usd&currency_to=btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - test_key
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"statusCode":403,"code":"INVALID_API_KEY","message":"Invalid
        api key"}'
  recorded_at: Sat, 01 Nov 2025 02:42:41 GMT
recorded_with: VCR 6.3.1
